@model IEnumerable<EricDeeTTSTS.Models.StringCommand>

@{
    ViewData["Title"] = "Command Wall";
}

<!-- 2-5-2021
Author: Eric Dee
http://EricDeeTTSTS.com/ -->

<head>
    <link href="~/css/boot.css" rel="stylesheet" runat="server" />
</head>

<body>

    <header>
        <meta charset="uft-8" />
        <meta name="author" content="Eric Dee">
        <meta name="description" content="Instructions people have entered.">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </header>

    <div class="TopNavigationLink">

        <p class="Centered"><a class="TopSideIndexLinks" asp-area="" asp-controller="Home" asp-action="Index">&#8767</a></p>

    </div>

    <div class="AlignTable">

        <div class="FooterCalculator">

            <div class="BelowNavigation Table">

                <table class="CommandWall">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Command)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Command)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Remove</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


        <div class="ColorBorder">

            <div class="FlexibleArticles">
                <section class="ArticlesArrayFlexible">
                    <h3><a class="UnstyledLink" asp-controller="Home" asp-action="Index">Return home.</a></h3>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="ArticleImages" src="~/DisplayMedia/Capture.png" alt="Sorry, your browser did not display this image for some reason." />
                    </a>
                </section>
                <section class="ArticlesArrayFlexible">
                    <h3><a class="UnstyledLink" asp-controller="Home" asp-action="Sourcecode">View my source code.</a></h3>
                    <a class="UnstyledLink" asp-controller="Home" asp-action="Sourcecode">
                        <img class="ArticleImages" src="~/DisplayMedia/CodeExample2.png" alt="Sorry, your browser did not display this image for some reason." />
                    </a>
                </section>
                <section class="ArticlesLinksFlexible">
                    <section class="NoMobileDisplay">
                        <h3 class="ContentDisplay">Explore computer theory concepts</h3>
                        <p><a class="ArticlesLink" href="~/HTML/Error/ThisPageIsUnderConstruction.html">A computer language</a></p>
                        <p><a class="ArticlesLink" href="~/HTML/Error/ThisPageIsUnderConstruction.html">Building an operating system</a></p>
                        <p class="Break"><a class="ArticlesLink" href="~/HTML/Error/ThisPageIsUnderConstruction.html">Creating a software synthesizer</a></p>
                        <h3 class="ContentDisplay">View the whole collection</h3>
                        <p><a class="ArticlesLink" href="~/HTML/Error/ThisPageIsUnderConstruction.html">Everything</a></p>
                    </section>
                </section>
            </div>

        </div>

        <div class="FooterColor">
            <footer>
                <div class="Copyright">
                    &copy; 2021 EricDeeTTSTS.com - <a class="Copyright" asp-controller="Home" asp-action="Privacy">privacy policy.</a>
                </div>
            </footer>
        </div>

    </div>

</body>